doctype html
html(lang="fr")
    head
        include includes/head.pug
    body 
        div#container
            header
                include includes/header.pug
            content#login
                include includes/404.pug
            footer
                include includes/footer.pug