doctype html
html(lang="fr")
    head
        include includes/head.pug
    body 
        div#container
            header
                include includes/header.pug
            content
                include includes/top.pug
            footer
                include includes/footer.pug