// MMMMMMMMMMMMMMMMMMMMMMMMMMMM COLORS MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM //

$accent: #2ec492;
$accent_light: #5afca6;
$accent_bright: #ff7b3d;

$bg: white;
$bg_dark: #1e4f6d;
$bg_border: #357da9;
$box_bg: white;
$box_border: black;

$main_font: black;
$darkbg_font: white;
$title: rgb(0, 0, 0);
